@font-face {
    font-family: 'belligerent_madnessregular';
    src: url('font/belligerent-webfont.eot');
    src: url('font/belligerent-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/belligerent-webfont.woff2') format('woff2'),
         url('font/belligerent-webfont.woff') format('woff'),
         url('font/belligerent-webfont.ttf') format('truetype'),
         url('font/belligerent-webfont.svg#belligerent_madnessregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
   .img  {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
} 
body{
    margin: 0;
    padding: 0;
}
#product_page{
    margin: 0;
    padding: 0;
}
  #logo{
      width: 150px;
      height: 74px;
  }
   .back
   {
       margin-top: 23px;
   }
   .camera
   {
       border-radius: 17px;
       width:400px ;
       margin-left: 60px;
       margin-bottom: 20px;
   }
   button
   {
       margin-top: 20px;
     }
     .panier{
        font-family: 'belligerent_madnessregular';
        margin-right: 20px;
        margin-top: 20px;
    
    }
    .bienvenue
    {
        font-family: 'belligerent_madnessregular';
    
        border: 2px solid red;
        border-radius: 17px;
        font-size: 20px;
        padding: 12px;
        text-align: center;
        align-self: center;
        width: 340px;
    
    }
    p{
        font-family: "belligerent";
    }
    body
    {
        
        margin: 0;
        padding: 0;
    }
    
  header{
    background-color: #F3E9F1;

}
.Premierp
  {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  button
  {
  height: 40PX;
  margin-left: 100px;
  border-radius: 17px;
  }
  header
  {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  }
  a{
    text-decoration: none;
    color: black;
}
.p1
{
    font-family: 'belligerent_madnessregular';

}
footer {
    margin: auto;
    height: auto;
    background-color: #f3e9f1;
    color: #454545;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  footer h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #454545;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 8px;
  }
  section
  {
      border: 2px solid #f2f2f2;
      width: 400px;
      margin-top: 25px;
      margin-left: 100px;
      border-radius:17px ;
  }
  .camera_ref1{
    width: 400px;
    margin-left: 30px;
    border: 1px solid black;
    border-top-left-radius: 17px;

    border-top-right-radius: 17px;

}
.each_camera
{
 display: flex;
  justify-content: space-between;
  background-color: #f3e9f1;
  border: 1px solid red;
  width: 600px;
  margin-left: 30%;

}
.camera_price
{
 
    display: flex;
  justify-content: space-between;   
}
.fas{
    width: 10px;
    height: 15px;
    }
   .total
   {
    margin-left: 30%;
    
    font-size: 22px; 
    font-weight:bold;
    
}
       
  
legend {
    padding: 0px 3px;
    font-weight: bold;
    font-variant: small-caps;
  }
   
  label {
    width: 110px;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
  }
   

  input:focus {
    background: #eaeaea;
  }
   
  input, textarea {
    width: 249px;
  }
   
  textarea {
    height: 100px;
  }
   
  
   
  input[type=checkbox] {
    width: 10px;
  }
   
  input[type=submit] {
    width: 150px;
    padding: 10px;
  }
  .each_camera p{
    margin-top: 17px;
}
h3{
    text-align: center;
}
.Retour
{
   margin-left: 30%;

}
.icon_trash{
    margin-left: 30%;
    margin-bottom: 10px;
}
.contact_form{
    border: 2px solid black;
    border-radius: 17px;
    margin-left: 30%;
    width: 600px;

}
.Retour{
    margin-left: 30%;
    margin-top: 5px;

}
.H1{
    margin-left: 30%;
}
@media only screen and (min-width: 320px) and (max-width: 760px) {
  
    .total{
        margin-left: 5px;
    }
  
    .camera_ref1
    {
        width: 300px;
        margin-left: 0px;
   }
.img{
    width: 300px;
}
  
    body{
        margin: 0;
        padding: 0;
    }
    footer{
        margin: 0px;
        width: 100%;
    }
 
    #product_page{
        margin: 0;
        padding: 0;
    }
    .each_camera{
        width: 80%;
        margin-left: 5px;
    }
    .contact_form{
        width: 80%;
        margin-left: 5px;
    }
    .H1{
        margin-left: 5px;
    }
}
@media only screen and (min-width: 760px) and (max-width: 940px) {
    #product_page{
        margin: 0;
        padding: 0;
    }
    .each_camera{
        width: 80%;
        margin-left: 5px;
    }
    .contact_form{
        width: 80%;
        margin-left: 5px;
    }
    .H1{
        margin-left: 5px;
    } 
}
@media only screen and (max-width: 320px) {

    .camera_ref1
    {
        width: 300px;
        margin-left: 0px;
   }
.img{
    width: 300px;
}
  
    body{
        margin: 0;
        padding: 0;
    }
    footer{
        margin: 0px;
        width: 100%;
    }
 
    #product_page{
        margin: 0;
        padding: 0;
    }
    .each_camera{
        width: 80%;
        margin-left: 5px;
    }
    .contact_form{
        width: 80%;
        margin-left: 5px;
    }
    .H1{
        margin-left: 5px;
    }
    input{
        width: 80%;
    }
    .total{
        margin-left: 5px;
    }
}
