@font-face {
    font-family: 'belligerent_madnessregular';
    src: url('font/belligerent-webfont.eot');
    src: url('font/belligerent-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/belligerent-webfont.woff2') format('woff2'),
         url('font/belligerent-webfont.woff') format('woff'),
         url('font/belligerent-webfont.ttf') format('truetype'),
         url('font/belligerent-webfont.svg#belligerent_madnessregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
   img
   {
       width: 400px;
       height: 300px;
       object-fit: cover;
       border-top-right-radius: 17px;
       border-top-left-radius: 17px;
   } 
   form
   {
       border: 1px solid greenyellow;
   }
   .back
   {
       margin-top: 23px;
       border: 1px solid red;
   }
  .camera
  {
      border: 1px solid red;
      border-radius: 17px;
      width:400px ;
      margin-left: 60px;
      margin-bottom: 20px;
  }
  button
  {
      margin-top: 20px;
    }
 
  
  #logo
  {
      width: 140px;
      height: 63px;
  
  }
  .panier{
      font-family: 'belligerent_madnessregular';
      margin-right: 20px;
      margin-top: 20px;;
  
  }
  .bienvenue
  {
      font-family: 'belligerent_madnessregular';
  
      border: 2px solid #f2f2f2;
      border-radius: 17px;
      font-size: 20px;
      padding: 12px;
      text-align: center;
      align-self: center;
      width: 340px;
  
  }
  p{
      font-family: "belligerent";
  }
  body
  {
      
      margin: 0;
      padding: 0;
  }
  header{
      background-color: #F3E9F1;
  
  }
  .Premierp
  {
      display: flex;
      flex-direction: row;
      justify-content: center;
  }
  button
  {
  height: 40PX;
  margin-left: 100px;
  border-radius: 17px;
  }
  header
  {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  }
  a{
      text-decoration: none;
      color: black;
  }
  .p1
  {
      font-family: 'belligerent_madnessregular';
  
  }
section
{
    border: 2px solid #f2f2f2;
    width: 400px;
    margin-top: 25px;
    margin-left: 100px;
    border-radius:17px ;
}
.camera_ref
{
    border: 2px solid #f2f2f2;
    width: 400px;
    margin-top: 25px;
    margin-left: 100px;
    border-radius:17px ;
}
  footer {
    margin: auto;
    height: auto;
    background-color: #f3e9f1;
    color: #454545;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  footer h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #454545;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 8px;
  }
